@import 'compass/reset';

body {
	font-size: 1em;
	font-family: "Comic Sans MS";
	padding: 15px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px;
	
}

h1 {font-size: 3em;}
h2 {font-size: 1.6em;}
h3 {font-size: 1.1em;}

input, textarea {
	display: block;
	// border: 1px solid red;
	// padding: 5px;
}
input {
	width: 238px;
	height: 30px;
	
}
#stime, #etime {
	width: 72px;
}
textarea {
	width: 260px;
}
button {
	border: 1px solid red;
}